/*In order to compile LESS files to CSS and generate map source, do not delete the above line*/
#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#canvas h1 {
  text-align: center;
  color: #fff;
  /* just incase the background-clip is not supported so text color white */
  background: url(http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/chameleon.jpg?itok=bDWYwtZS) 70px -150px no-repeat;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 180px;
  font-family: 'Anton', sans-serif;
}
